/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(220, 2%, 37%);
}

body {
    margin: 0;
}

.logo {
    width: 100%;
    object-fit: cover;
  }

header {
    display: flex;
    justify-content: space-around;
    padding: 30px 10%;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    float: right;
}

button:hover {
    background-color: #293333cc;
}

li, a, button {
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ece0f1;
    text-decoration: none;
}

.nav-links {
    display: flex;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: hsl(0, 0%, 26%);
}

#text-error {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ece0f1;
    text-decoration: none;
    text-align: center;
    margin: 0px 20px;
    border-right: 1px solid #ece0f1;
}

/* Hamburger menu -- Start */

.hamburger {
    display: none;
    list-style: none;
    cursor: pointer;
}

.nav-hamburger {
    list-style: none;
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 20px 20px;
}

.nav-links-hamburger {
    display: none;
}
.nav-links-hamburger li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-links-hamburger li a:hover {
    color: #0088a9;
}
.line {
    display: none;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: #ece0f1;
    margin: 5px 0;
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

/* Hamburger menu -- End */
/* Radio Player -- Start */

#container-radio-top {
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin: 0 auto; 
    border: none;
}
#container-radio-body {
    display: flex;
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
    border: none;
}

#imageTop {
    padding-top: 30px;
    width: 350px;
    height: 75px;
    display: inline-block;
}

#imageLeft {
    width: 250px;
    height: 316px;
    display: inline-block;
}

#iframe {
    border: none;
    display: inline-block;
}

#imageRight {
    width: 250px;
    height: 316px;
    display: inline-block;
}

/* Radio Player -- End */
/* Mixes Players -- Start */

#container-mix-players {
    display: flex;
    justify-content: space-evenly;
}

.iframe-mixes {
    height: 450px;
    border: none;
    margin: 10px;
}

/* Mixes Players -- End */
/* Contact Forms -- Start */

#container-email-form {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    max-width: 1020px; /* Set a maximum width for the container to prevent it from getting too wide */
    margin: auto auto; /* Center the container horizontally */
    border: none;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0088a9;
    border-radius: 4px;
    background-color: #ece0f1;
    font-size: 16px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0088a9;
    border-radius: 4px;
    background-color: #ece0f1;
    font-size: 16px;
    resize: none;
  }

  /* Contact Forms -- Start */
  /* Responsiveness Controls -- Start */

  @media screen and (max-width: 900px) {
    #imageTop {
        display: none;
    }
    #imageLeft {
        display: none;
    }
    #imageRight {
        display: none;
    }
    #radioControls {
        width: 300px; 
        height: 650px; 
    }
  }

  .nav-hamburger--open {
    transform: translateX(0%) !important;
    display: flex !important;
  }

  @media screen and (max-width: 650px) {
    
    .nav{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .line{
        display: block;
    }

    .nav-hamburger{
        transform: translateX(-100%);
    }

    .nav-links-hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-mix-players {
        flex-direction: column;
        align-items: center;
    }

    .iframe-mixes {
        margin: 10px;
    }
  }