/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: 'Wholecar PERSONAL USE';
    src: url('fonts/Wholecar.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
      font-family: 'Graffitti New Demo';
      src: url('fonts/GraffitiNewDemoRegular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: hsl(220, 2%, 37%); */
}

body {
    margin: 0;
    background-image: url('images/graff-wall.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    width: 100%;
    max-width: 2000px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-height: 115px;
    /* padding: 0px 0%; */
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0px 0px;
    margin: 0px 0px;
    /* transition: all 0.3s ease 0s; */
}

button:hover {
    color: hsl(0, 0%, 26%);
}

li, a, button {
    font-family: 'Wholecar PERSONAL USE', sans-serif;
    font-weight: 500;
    font-size: 6vw;
    color: #000000;
    text-decoration: none;
}

.nav-links {
    display: flex;
}

.nav-links li {
    display: inline-block;
    padding: 10px 0%;
    margin: 150px 0px;
}

/* .nav-links li a {
    transition: all 3.3s ease 0s;
} */

.nav-links li a:hover {
    color: hsl(0, 0%, 26%);
}

#text-error {
    font-weight: 500;
    font-size: 4vw;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    text-align: center;
    margin: 0px 20px;
    border-right: 1px solid hsl(0, 0%, 0%);
}

/* Hamburger menu -- Start */

.hamburger {
    list-style: none;
    cursor: pointer;
    padding: 20px 20px;
}

.nav-hamburger {
    list-style: none;
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 20px 20px;
}

.nav-links-hamburger {
    display: none;
}
.nav-links-hamburger li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-links-hamburger li a:hover {
    color: hsl(0, 0%, 26%);
}
.line {
    display: none;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

/* Hamburger menu -- End */
/* Radio Player -- Start */

#container-radio-top {
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin: 0 auto; 
    border: none;
}
#container-radio-body {
    display: flex;
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
    border: none;
}

#imageTop {
    margin: 200px 0px 0px 0px;
    padding-top: 10px;
    width: 350px;
    height: 75px;
    display: inline-block;
}

#imageLeft {
    width: 250px;
    height: 316px;
    display: inline-block;
}

#iframe {
    border: none;
    display: inline-block;
}

#imageRight {
    width: 250px;
    height: 316px;
    display: inline-block;
}

/* Radio Player -- End */
/* Mixes Players -- Start */

#container-mix-players {
    display: flex;
    justify-content: space-evenly;
}

.iframe-mixes {
    height: 650px;
    border: none;
    /* margin: 10px; */
    margin-top: 150px;
}

/* Mixes Players -- End */
/* Contact Forms -- Start */

#container-email-form {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    max-width: 1020px; 
    margin: auto auto; 
    border: none;
  }

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0088a9;
    border-radius: 4px;
    background-color: #ece0f1;
    font-size: 16px;
  }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0088a9;
    border-radius: 4px;
    background-color: #ece0f1;
    font-size: 16px;
    resize: none;
  }

/* Contact Forms -- Start */
/* Flying Tapes -- Start */

.tapes-float img{
    display: none;
    top: -50;
    z-index: 1;
    }

.tapes-float{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* top: -50; */
    }

    @keyframes tapes {
        0%{
            transform: translateY(0);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        70%{
            opacity: 1;
        }
        100%{
            transform: translateY(80vh) rotate(360deg);
            opacity: 0;
        }
    }

/* Flying Tapes -- End */
/* Responsiveness Controls -- Start */

@media screen and (max-width: 900px) {
    #imageTop {
        display: none;
    }
    #imageLeft {
        display: none;
    }
    #imageRight {
        display: none;
    }
    #radioControls {
        margin: 150px 0px 0px 0px;
        width: 300px;
        height: 650px;
    }
}

.nav-hamburger--open {
    transform: translateX(0%);
    display: flex;
}

@media screen and (max-width: 650px) 
{
    .nav{
        display: none;
    }
    .hamburger{
        display: flex;
        align-items: center;
        /* list-style: none; */
        flex-direction: column;
        /* padding: 35px 20px; */
        /* top: 0; */
        /* right: 0; */
        margin: 50px 0px 0px 0px;
    }
    li, a, button {
        font-family: 'Graffitti New Demo', sans-serif;
        font-weight: 500;
        font-size: 10vw;
        color: #000000;
        text-decoration: none;
        
    }
    .line{
        
        display: block;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .nav-links-hamburger {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        
    }
    #radioControls{
        margin: 5px 0px 0px 0px;
    }
    #container-mix-players {
        flex-direction: column;
        align-items: center;
    }
    /* .iframe-mixes {
        margin: 10px;
   
    } */
}